

<h1>About</h1>
<p>
	<%= link_to "One Month Rails", "http://onemonthrails.com" %> is my attempt to learn ruby on rails in seven days
	
	<%= link_to "Ruby on Rails", "http://rubyonrails.org" %> in seven days.</p>


