
<div class ="hero-unit">
	<h1>Welcome to Seven Days rails</h1>
	<p>
		I lied,You have actually found the home page for the 
		<%= link_to "One Month Rails", "http://onemonthrails.com" %> application.
	</p>
	<p> 
		<%= link_to "Sign Up Now!", "#", class:"btn btn-primary btn-large" %>
	</p>
</div>